body {
	background-color: #0D3455;
	color: white;
	text-shadow: 2px 1px black;
	background-image: url("bg.png");
	background-repeat: no-repeat; /* Center the image */
	background-size: cover;/* Resize the background image to cover the entire container */
	font-family: Arial;
}

h1 {
	text-align: center;
	font-size: 22px;
}
h2 {
	text-align: center;
	font-size: 20px;
	padding:0px;
	margin:0px;

}
p {
	font-family: verdana;
	font-size: 16px;
	padding:0px;
	margin:0px;

}
 /* unvisited link */
a:link {
  color: white;
}

/* visited link */
a:visited {
  color: white;
}

/* mouse over link */
a:hover {
  color: #897134;
}
button {
  background-color: #897134;
  color: white;
  text-align: center;
  display: inline-block;
  font-size: 16px;
  margin: 4px 4px;
  cursor: pointer;
  text-shadow: 1px 1px black;
  border-color: #5E502B;
}
input {
	width: 50px;
  background-color: #897134;
  color: white;
  text-align: center;
  display: inline-block;
  font-size: 16px;
  margin: 4px 4px;
  cursor: pointer;
  text-shadow: 1px 1px black;
  border-color: #5E502B;
}


.boxedoption
{
	background-color: rgba(12, 43, 71, 0.5); /*0C2B47*/

	/*width: 50%;*/
	margin: auto;
	padding: 5px;

	border: 2px solid #1D5385;
	margin-top: 10px;
}
#boxedheadermap
{
	margin-top: 30px;
	width: 40%;
	margin: auto;

}
#boxedheaderciv
{
	margin-top: 30px;
	width: 15%;
	min-width: 100px;
	height: 400px;
	margin: auto;

}
@media only screen and (max-width: 800px) {
	#boxedheadermap
	{
		margin-top: 30px;
		width: 100%;

	}
    p, input, button {font-size: 20px}
}
@media (orientation: portrait){
	#boxedheadermap
	{
		margin-top: 30px;
		width: 100%;
	}
    p, input, button {font-size: 20px}

}
@media only screen and (max-width: 1200px) {
	#boxedheaderciv
	{
		width: 100%;
        height: auto;
	}
    p, input, button {font-size: 20px}

}
@media (orientation: portrait){
	#boxedheaderciv
	{
		width: 100%;
        height: auto;
	}
    p, input, button {font-size: 20px}

}

/*

background 0D3455
menu background  0C2B47
font FFFFFF
font2 0C2B47

gold 897134 5E502B


*/
